:root {
    --background-color: white;
    --text-color: #5d00ff;
    --primary-color: #ff3b3b;
}

:root.dark {
    --background-color: #1c1c1c;
    --text-color: #f2f2f2;
    --primary-color: #ff3b3b;
}

:root {
    color: var(--text-color);
    background-color: var(--background-color);
    transition: all 1s;
}

.color-primary {
    color: var(--primary-color);
}

:root.dark .color-primary {
    filter: brightness(150%);
}